<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar navbar-nav">
    <li>
      <button (click)="onGetAllProducts()" class="btn btn-outline-info mx-lg-3">All</button>
    </li>
    <li>
      <button (click)="onGetSelectedProducts()"class="btn btn-outline-info mx-lg-3">Selected</button>
    </li>
    <li>
      <button (click)="onGetAvailableProducts()" class="btn btn-outline-info mx-lg-3">Available</button>
    </li>
    <li>
      <button  (click)="onNewProduct()" class="btn btn-outline-info mx-lg-3">New</button>
    </li>
  </ul>
  <ul class="navbar navbar-nav m-lg-auto pull-right">
    <li>
      <form #f="ngForm" (ngSubmit)="onSearch(f.value)" class="form-inline">
        <div class="input-group m-lg-auto">
          <input ngModel name="keyword" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          <button  class="btn btn-outline-info mx-lg-3">
            <span class="fa fa-search" ></span>
          </button>
        </div>
      </form>
    </li>
  </ul>
</nav>
